@import 'vars';

.CreateAccount {
	width: 100%;
	height: calc(100vh - var(--header-height));
	display: grid;
	place-items: center;
}
.CreateAccount-container {
	display: grid;
	grid-template-rows: auto 1fr auto;
	width: 300px;
}
.CreateAccount-title {
	font-size: var(--lg);
	margin-bottom: 36px;
	text-align: start;
}
.CreateAccount-Form {
	display: flex;
	flex-direction: column;
}
.CreateAccount-Form div {
	display: flex;
	flex-direction: column;
}
.CreateAccount-label {
	font-size: var(--sm);
	font-weight: bold;
	margin-bottom: 4px;
}
.CreateAccount-input {
	background-color: var(--text-input-field);
	border: none;
	border-radius: 8px;
	height: 30px;
	font-size: var(--md);
	padding: 6px;
	margin-bottom: 12px;
}
.CreateAccount-input-name,
.CreateAccount-input-email,
.CreateAccount-input-password {
	margin-bottom: 22px;
}
.CreateAccount-primary-button {
	background-color: var(--hospital-green);
	border-radius: 8px;
	border: none;
	color: var(--white);
	width: 100%;
	cursor: pointer;
	font-size: var(--md);
	font-weight: bold;
	height: 50px;
}
.CreateAccount-login-button {
	margin-top: 14px;
	margin-bottom: 30px;
}
@media (max-width: 640px) {
	.CreateAccount-Form-container {
		height: 100%;
	}
	.CreateAccount-Form {
		height: 100%;
		justify-content: space-between;
	}
}
@media (max-width: 350px) {
	.CreateAccount-container {
		width: 230px;
	}
}
